<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs Innovation | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h2>Blog Posts</h2></a>
            <p>A Blog Website</p>
        </div>
        <ui>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Create New</a></li>
        </ui>
    </nav>
    
    <div class="not-found content">
        OOPS, page not found :)
      </div>
</body>
</html>