<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Innovation | <%= title %></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h2>Blog Posts</h2></a>
        <p>A Blog Website</p>
      </div>
      <ui>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create New</a></li>
      </ui>
    </nav>

    <div class="blogs content">
      <h2>All Blogs</h2>

      <% if(blogs.length > 0) { %> <% blogs.forEach( blog => { %>
      <h4><%= blog.title %></h4>
      <p><%= blog.snippet %></p>
      <% }) %> <% }else { %>
      <p>No blogs available to display</p>
      <% } %>
    </div>
  </body>
</html>
